---
import Layout from '~/layouts/BaseLayout.astro';
import Breadcrumbs from '~/components/Breadcrumbs.astro';
import { getLangFromUrl, useTranslations, type TranslationPaths } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout meta={{ title: t('404.title') }}>
  <Breadcrumbs />
  <section class="bg-base-300 items-center h-full">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">{t('404.error')}</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">{t('404.pageNotFound')}</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          {t('404.otherThings')}
        </p>
      </div>
    </div>
  </section>
</Layout>
