---
const calLink = 'francis-robert';
---

<div tabindex="0" class="btn normal-case btn-outline btn-secondary" data-cal-link={calLink}>
  <span class="hidden font-normal md:inline">Calendar</span>
  <i class="fa-solid fa-calendar-days w-4"></i>
</div>
