---
import Breadcrumbs from './Breadcrumbs.astro';
import ContentHeader from './ContentHeader.astro';
import ContentAboutMe from './ContentAboutMe.astro';
---

<main id="main" class="grow hero bg-base-300">
  <Breadcrumbs />
  <div class="hero-content text-left">
    <section class="max-w-md">
      <ContentHeader />
      <ContentAboutMe />
    </section>
  </div>
</main>
