---
import me from '~/assets/images/anime-self.png';
const phonetic = `/ˈfɹæŋk ˈɹɑbɚt/`;
const description = `I'm a seasoned software engineer with a passion for all things tech. I have a loads of interests but at the top
of the list you'll find a love for electronic music, 3D printing, manga, speedrunning, and gaming.`;
---

<style>
  .text-3d {
    text-shadow: -2px -2px 0 hsl(var(--p)), 2px -2px 0 hsl(var(--p)), -2px 2px 0 hsl(var(--p)), 2px 2px 0 hsl(var(--p)),
      -0.09em 0 0 hsl(var(--a)), 0.09em 0 0 hsl(var(--s));
  }
</style>
<main id="main" class="grow hero bg-base-300">
  <article class="hero-content text-left">
    <section class="max-w-md">
      <header class="flex">
        <h1 class="text-5xl font-bold">
          Hey there! I'm

          <span tabindex="0" id="name-container" class="swap swap-flip" aria-pressed="false">
            <strong class="italic text-primary-content text-3d swap-off">Frank Robert</strong>
            <strong class="text-primary-content text-3d swap-on" aria-hidden="true">{phonetic}</strong>
          </span>
        </h1>

        <figure class="avatar w-20 h-20">
          <div class="rounded-full ring ring-secondary ring-offset-base-100 ring-offset-2">
            <img src={me.src} alt="Anime portrait of Frank Robert" />
          </div>
        </figure>
      </header>

      <p class="py-6">
        {description}
      </p>
    </section>
  </article>
</main>
<script>
  const nameContainer = document.getElementById('name-container')!;
  nameContainer.addEventListener('mouseover', function () {
    this.classList.add('swap-active');
  });

  nameContainer.addEventListener('mouseout', function () {
    this.classList.remove('swap-active');
  });
</script>
