---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const sections = [t('pages.home.description'), t('pages.home.pride'), t('pages.home.location')];
---

<article class="prose">
  {sections.map((section) => <p>{section}</p>)}
</article>
