---
import Breadcrumbs from './Breadcrumbs.astro';
import ContentHeader from './ContentHeader.astro';
import ContentAboutMe from './ContentAboutMe.astro';
---

<main id="main" class="grow hero bg-base-300">
  <Breadcrumbs />
  <article class="hero-content text-left">
    <section class="max-w-md">
      <ContentHeader />
      <ContentAboutMe />
    </section>
  </article>

  <script>
    import chroma from 'chroma-js';
    const rootElement = document.documentElement;

    function getCssVariableValue(varName: string) {
      return getComputedStyle(rootElement)
        .getPropertyValue(varName)
        .trim()
        .split(' ')
        .map((value) => {
          return value.includes('%') ? parseFloat(value) / 100 : parseFloat(value);
        });
    }

    function updateBadgeUrl() {
      const labelOklch = getCssVariableValue('--p');
      const badgeOklch = getCssVariableValue('--s');
      const labelColor = chroma.oklch(...labelOklch).hex();
      const badgeColor = chroma.oklch(...badgeOklch).hex();
      const labelColorEncoded = encodeURIComponent(labelColor);
      const badgeColorEncoded = encodeURIComponent(badgeColor);
      const badgeUrl = `https://img.shields.io/endpoint?url=https%3A%2F%2Fpronoundb.org%2Fshields%2F65db97a4cf2d0494c7de8e98.json&style=flat&labelColor=${labelColorEncoded}&color=${badgeColorEncoded}`;
      const badge = document.getElementById('pronouns-badge') as HTMLImageElement;
      badge.src = badgeUrl;
    }

    function updateSelectedTheme() {
      const selectedTheme = document.documentElement.getAttribute('data-theme');
      const themeList = document.getElementById('themes-menu') as HTMLUListElement | null;
      const listItems = themeList?.querySelectorAll('li');

      if (!listItems || !selectedTheme) return;
      for (const listItem of Array.from(listItems)) {
        const input = listItem.children[0] as HTMLInputElement | null;
        const inputTheme = listItem.getAttribute('data-theme');
        if (!input) continue;
        if (inputTheme === selectedTheme) {
          input.value = `${inputTheme} ✓`;
          input.ariaLabel = `${inputTheme} ✓`;
        } else {
          input.value = inputTheme ?? '';
          input.ariaLabel = inputTheme;
        }
      }
    }

    function handleTheme() {
      updateBadgeUrl();
      updateSelectedTheme();
    }

    const observer = new MutationObserver((mutationsList) => {
      for (const mutation of mutationsList) {
        // Once the root HTML node has `data-theme` it means we can actually pull the correct theme and colors for the badge
        if (mutation.type === 'attributes' && mutation.attributeName === 'data-theme') {
          handleTheme();
        }
      }
    });

    // Run on initial load
    document.addEventListener('DOMContentLoaded', handleTheme);
    // Run on theme change
    observer.observe(rootElement, { attributes: true, attributeFilter: ['data-theme'] });
  </script>
</main>
