---
import me from '~/assets/images/anime-self.png';
const phonetic = `/ˈflɔrəns wʊlf/`;
---

<style>
  .text-3d {
    text-shadow:
      -2px -2px 0 oklch(var(--p)),
      2px -2px 0 oklch(var(--p)),
      -2px 2px 0 oklch(var(--p)),
      2px 2px 0 oklch(var(--p)),
      -0.09em 0 0 oklch(var(--a)),
      0.09em 0 0 oklch(var(--s));
  }
</style>
<header class="flex flex-col sm:flex-row gap-4">
  <h1 x-data="{ swapped: false }" class="text-5xl font-bold">
    Hey there! I'm

    <span
      x-on:mouseover="swapped = true"
      x-on:mouseout="swapped = false"
      x-bind:class="swapped ? 'swap-active' : ''"
      tabindex="0"
      aria-pressed="false"
      class="swap swap-flip"
    >
      <strong class="italic text-primary-content text-3d swap-off">Florence Wolfe</strong>
      <strong class="text-primary-content text-3d swap-on" aria-hidden="true">{phonetic}</strong>
    </span>
  </h1>

  <div class="flex flex-col">
    <figure class="avatar w-20 h-20 mb-4">
      <div class="rounded-full ring ring-secondary ring-offset-base-100 ring-offset-2">
        <img src={me.src} alt="Anime portrait of Flo Wolfe" />
      </div>
    </figure>
    <div class="flex items-center">
      <span class="text-lg">🏳️‍⚧️</span><img class="w-32" id="pronouns-badge" alt="Pronouns Shields Badge" />
    </div>
  </div>
</header>
