---
import SocialIcon from './SocialIcon.astro';
const disclaimer =
  'Any and all opinions listed here are my own and not representative of my employers; future, past and present.';
const repositoryLink = 'https://github.com/florence-wolfe/f4.lol';

interface SocialIconDefinition {
  url: string | undefined;
  platform: string;
  icon?: {
    class?: string;
    html?: string;
  };
  params?: {
    [key: string]: string;
  };
}

interface MailtoParams {
  email: string;
  subject: string;
  body: string;
}

function generateMailtoLink({ email, subject, body }: MailtoParams): string {
  let params = new URLSearchParams();
  params.set('subject', subject);
  params.set('body', body);

  return `mailto:${email}?${params.toString()}`;
}

const mailtoParams: MailtoParams = {
  email: 'florencewolfe@pm.me',
  subject: 'Hello from your website!',
  body: 'Hi there! I just wanted to say...',
};
const socials: SocialIconDefinition[] = [
  {
    platform: 'Twitter',
    url: 'https://twitter.com/weakflo_',
  },
  {
    platform: 'Twitch',
    url: 'https://twitch.tv/weakflo',
  },
  {
    platform: 'Github',
    url: 'https://github.com/florence-wolfe',
  },
  {
    platform: 'LinkedIn',
    url: 'https://www.linkedin.com/in/florencewolfe',
  },
  {
    platform: 'Discord',
    url: 'https://discord.com/users/261622219745132545',
  },
  {
    platform: 'Xbox',
    url: 'http://live.xbox.com/Profile?Gamertag=scumblo',
  },
  {
    platform: 'Spotify',
    url: 'https://open.spotify.com/user/12158323406',
  },
  {
    platform: 'Email',
    url: generateMailtoLink(mailtoParams),
    icon: { class: 'fa-solid fa-envelope' },
  },
];
---

<footer class="footer gap-0 [&>*]:gap-0 flex flex-col p-2 bg-base-200">
  <div class="flex divider mb-0"></div>
  <div class="w-full">
    <h2 class="menu-title">Socials</h2>
    <nav class="flex">
      <ul class="menu menu-horizontal py-0">
        {
          socials.map((social) => (
            <li>
              <SocialIcon {...social} />
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <div class="w-full">
    <p class="px-4 pt-0">
      {disclaimer}
    </p>
    <p class="px-4 pt-2">
      Built with Astro. See <a class="link link-secondary" href={repositoryLink} target="_blank">source code here</a>.
    </p>
  </div>
</footer>
