---
import SocialIcon from './SocialIcon.astro';
const { default: malHTML } = await import('~/assets/images/myanimelist-logo.svg?raw');
const { default: traktHTML } = await import('~/assets/images/trakt-logo.svg?raw');

interface SocialIcon {
  url: string | undefined;
  platform: string;
  icon?: {
    class?: string;
    html?: string;
  };
  params?: {
    [key: string]: string;
  };
}

interface MailtoParams {
  email: string;
  subject: string;
  body: string;
}

function generateMailtoLink({ email, subject, body }: MailtoParams): string {
  let params = new URLSearchParams();
  params.set('subject', subject);
  params.set('body', body);

  return `mailto:${email}?${params.toString()}`;
}

const mailtoParams: MailtoParams = {
  email: 'frank@f4.lol',
  subject: 'Hello from your website!',
  body: 'Hi there! I just wanted to say...',
};
const socials: SocialIcon[] = [
  {
    platform: 'Twitter',
    url: 'https://twitter.com/weakfrank_',
  },
  {
    platform: 'Twitch',
    url: 'https://twitch.tv/weakfrank',
  },
  {
    platform: 'Github',
    url: 'https://github.com/francis-robert',
  },
  {
    platform: 'LinkedIn',
    url: 'https://www.linkedin.com/in/frankjrrobert',
  },
  {
    platform: 'Discord',
    url: 'https://discord.com/users/261622219745132545',
  },
  {
    platform: 'Xbox',
    url: 'http://live.xbox.com/Profile?Gamertag=scumblo',
  },
  {
    platform: 'Spotify',
    url: 'https://open.spotify.com/user/12158323406',
  },
  {
    platform: 'MyAnimeList',
    url: 'https://myanimelist.net/profile/phrank',
    icon: { html: malHTML },
  },
  {
    platform: 'Trakt',
    url: 'https://trakt.tv/users/frankrobert',
    icon: { html: traktHTML },
  },
  {
    platform: 'Email',
    url: generateMailtoLink(mailtoParams),
    icon: { class: 'fa-solid fa-envelope' },
  },
  {
    platform: 'Calendar',
    url: undefined,
    icon: { class: 'fa-solid fa-calendar-days' },
    params: {
      'data-cal-link': 'francis-robert',
    },
  },
];
---

<footer class="footer gap-0 [&>*]:gap-0 p-2 bg-base-200">
  <li class="w-full">
    <span class="menu-title">Socials</span>
    <div class="flex">
      <ul class="menu menu-horizontal py-0">
        {
          socials.map((social) => (
            <li>
              <SocialIcon {...social} />
            </li>
          ))
        }
      </ul>
    </div>
  </li>
</footer>
