---
const api = 'https://api.giphy.com/v1/gifs/random';
const params = new URLSearchParams({
  api_key: 'DsvIKKjpKtISHJuCoJQ6TteXDunt0yzT',
  tag: 'cat',
});
const url = `${api}?${params.toString()}`;
---

<button
  hx-get={url}
  hx-trigger="click"
  hx-ext="client-side-templates"
  hx-target="#modal-image"
  hx-swap="innerHTML"
  mustache-template="image-template"
  x-on:click="modal.showModal()"
  aria-label="Funny button">funny button</button
>

<dialog x-data role="dialog" aria-label="Funny button Modal" id="modal" class="modal">
  <form role="form" aria-label="Modal image and button container" method="dialog" class="modal-box w-auto">
    <button role="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">X</button>
    <template id="image-template"><img src="{{data.images.fixed_height.url}}" class="mask mask-squircle" /></template>
    <div id="modal-image">
      <span class="loading loading-infinity loading-lg"></span>
    </div>
  </form>
  <form method="dialog" class="modal-backdrop w-screen h-screen">
    <button>close</button>
  </form>
</dialog>
