---
import Actions from './Actions.astro';
import ThemeChange from './ThemeChange.astro';
---

<header class="navbar bg-base-100">
  <nav class="flex-1">
    <a aria-label="Home" class="btn btn-ghost normal-case text-xl">f4.lol</a>
  </nav>
  <Actions />
  <ThemeChange />
</header>
