---
import Actions from './Actions.astro';
import ThemeChange from './ThemeChange.astro';
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a role="button" class="btn btn-ghost normal-case text-xl">f4.lol</a>
  </div>
  <Actions />
  <ThemeChange />
</div>
