---
import LanguageChange from './LanguageChange.astro';
import ThemeChange from './ThemeChange.astro';
import TranslatedAnchor from './TranslatedAnchor.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  .header-name {
    font-family: 'Dancing Script', cursive;
  }
</style>
<header class="navbar bg-base-100">
  <nav class="navbar-start">
    <TranslatedAnchor href="/" aria-label={t('nav.home')} class="btn btn-ghost normal-case text-xl">
      f4.lol
    </TranslatedAnchor>
    <span class="header-name text-lg ms-2">Florence Wolfe</span>
  </nav>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li><TranslatedAnchor href="/resume" translationPath="nav.resume" /></li>
    </ul>
    <LanguageChange />
    <ThemeChange />
  </div>
</header>
