---
import { languages } from '../i18n/ui';
---

<ul>
  <astro:language-switcher></astro:language-switcher>
  <!-- { -->
  <!--   Object.entries(languages).map(([lang, label]) => ( -->
  <!--     <li> -->
  <!--       <a href={`/${lang}/`}>{label}</a> -->
  <!--     </li> -->
  <!--   )) -->
  <!-- } -->
</ul>
