---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLangFromUrl, useTranslations, type TranslationPaths, type ValidLocale } from '../i18n/utils';
const urlLang = getLangFromUrl(Astro.url);
const t = useTranslations(urlLang);

interface Props {
  href: string;
  translationPath?: TranslationPaths;
  class?: string;
  lang?: ValidLocale;
}
const { href, translationPath, class: classNames, lang } = Astro.props;
const link = getRelativeLocaleUrl(lang ?? urlLang, href);
---

<a class={classNames} href={link}>{translationPath ? t(translationPath) : <slot />}</a>
