---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLangFromUrl, useTranslations, type TranslationPaths } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  href: string;
  translationPath?: TranslationPaths;
  text?: string;
  class?: string;
}
const { href, translationPath, text, class: classNames } = Astro.props;
const link = getRelativeLocaleUrl(lang, href);
const content = translationPath ? t(translationPath) : (text ?? '');
---

<a class={classNames} href={link}>{content}</a>
