---
import '~/base.css';
import ThemeChangeScript from '~/components/scripts/theme-change.script.astro';
import CalScript from '~/components/scripts/cal.script.astro';
import FontAwesomeScript from '~/components/scripts/font-awesome.script.astro';
import HtmxScript from '~/components/scripts/htmx.script.astro';
import ChromaScript from '~/components/scripts/chroma.script.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';

import { SITE } from '~/config.mjs';

const { language = 'en', textDirection = 'ltr' } = SITE;
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html x-data lang={lang ?? language} dir={textDirection} class="h-full" dir={textDirection}>
  <head>
    <style>
      html {
        font-size: 16px; /* Base size */
      }

      /* More controlled responsive scaling */
      @media (min-width: 768px) {
        html {
          font-size: clamp(16px, 1.5vw, 20px);
        }
      }

      .skip-link {
        position: absolute;
        top: -100px;
        left: 0;
        background: #000;
        color: white;
        padding: 10px;
        z-index: 100;
        transition: top 0.3s ease;
      }

      .skip-link:focus {
        top: 0;
      }
    </style>
    <link href="https://api.fontshare.com/v2/css?f[]=dancing-script@700&display=swap" rel="stylesheet" />
    <ThemeChangeScript />
    <CalScript />
    <FontAwesomeScript />
    <HtmxScript />
    <ChromaScript />
    <title>{t('global.title')}</title>
    <meta name="description" content={t('global.description')} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="h-full flex flex-col antialiased tracking-tight">
    <a href="#main" class="skip-link">{t('global.skip')}</a>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
