---
import '~/base.css';
import ThemeChangeScript from '~/components/scripts/theme-change.script.astro';
import CalScript from '~/components/scripts/cal.script.astro';
import FontAwesomeScript from '~/components/scripts/font-awesome.script.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';

import { SITE } from '~/config.mjs';

const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="h-full" dir={textDirection}>
  <head>
    <style>
      html {
        font-size: 1rem;
        font-size: clamp(1rem, 3.2vw, 1.5rem);
      }
      /* Scale fonts for devices with a 2x device pixel ratio */
      @media (min-resolution: 2dppx) {
        html {
          font-size: 200%;
        }
      }

      .skip-link {
        position: absolute;
        top: -100px;
        left: 0;
        background: #000;
        color: white;
        padding: 10px;
        z-index: 100;
        transition: top 0.3s ease;
      }

      .skip-link:focus {
        top: 0;
      }
    </style>
    <ThemeChangeScript />
    <CalScript />
    <FontAwesomeScript />
    <title>f4.lol — Frank's home</title>
    <meta name="description" content="A place to learn about Frank Robert, their achievements, and interests." />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="h-full flex flex-col antialiased tracking-tight">
    <a href="#main" class="skip-link">Skip to main content</a>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
